.about {
	position: relative;
}

.about__container {
	width: 100%;
	margin: 20px auto 87px auto;
	padding: 0 16px;
}

.about__img {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
}

.about__img > img {
	opacity: 0;
	animation: imageAnimation 18s linear infinite 0s;
}

.about__img > img:nth-child(2) {
	animation-delay: 6s;
}
.about__img > img:nth-child(3) {
	animation-delay: 12s;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	15% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.about__title {
	font-family: "Days One", sans-serif;
	font-size: 36px;
	line-height: 40px;
	margin: 40px auto 17px auto;
	text-align: center;
	max-width: 360px;
	color: var(--accent);
}

.about__subtitle {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	text-align: center;
	margin: 0 0 98px 0;
}

.about__text,
.about__subtext {
	font-size: 20px;
	line-height: 24px;
	text-align: justify;
	margin: 0 0 30px 0;
}

.about__subtext {
	font-weight: 200;
	margin: 0;
}

@media screen and (min-width: 1024px) {
	.about::before {
		position: absolute;
		content: "";
		width: 49%;
		height: 75%;
		top: 0;
		left: 0;
		border-bottom-right-radius: 50px;
		background-color: var(--accent);
		z-index: -1;
	}

	.about::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 29%;
		top: 0;
		left: 0;
		background-color: var(--accent);
		z-index: -1;
	}

	.about__container {
		max-width: 1024px;
		padding: 0;
		margin: 20px auto 57px auto;
	}

	.about__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		column-gap: 20px;
	}

	.about__img {
		height: 100%;
		width: auto;
		aspect-ratio: auto;
		grid-column: span 1;
		grid-row: span 2;
	}

	.about__img img {
		object-fit: contain;
	}

	.about__title {
		text-align: left;
		color: var(--white-text);
		margin: 25px 0 30px 0;
	}

	.about__info {
		padding: 20px 16px 0 0;
	}

	.about__subtitle {
		padding: 43px 33px;
		border: 4px solid var(--accent);
		border-radius: 30px;
		max-width: 1058px;
		margin: 0 auto 90px auto;
	}
}

@media screen and (min-width: 1280px) {
	.about__container {
		max-width: 1280px;
	}

	.about__img {
		aspect-ratio: 4 / 3;
	}
}

@media screen and (min-width: 1440px) {
	.about::before {
		width: 48%;
	}

	.about__container {
		max-width: 1400px;
	}

	.about__img {
		aspect-ratio: auto;
	}

	.about__title {
		font-size: 48px;
		line-height: 53px;
		margin: 40px 0 30px 0;
	}

	.about__text,
	.about__subtext {
		font-size: 24px;
		line-height: 29px;
		margin: 0 0 40px 0;
	}
}
