.partners {
	margin-bottom: 97px;
}

.partners__title {
	font-family: "Days One", sans-serif;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 27px 0;
}

.partners__container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 40px;
	row-gap: 25px;
}

.parthners__wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0;
	line-height: 0;
	grid-column: span 2;
}

.parthners__wrapper:nth-child(10) {
	grid-column: 2 / span 2;
}

.parthners__wrapper:nth-child(11) {
	grid-column: 4 / span 2;
}

.pathners__img {
	width: 100%;
	height: auto;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
}

.parthners__wrapper > .pathners__img:hover {
	filter: grayscale(0%) contrast(100%);
}

/* borjomi */
.parthners__wrapper:nth-child(1) > img {
	max-width: 211px;
	filter: grayscale(0%) contrast(20%);
}

/* pripravka */
.parthners__wrapper:nth-child(2) > img {
	max-width: 211px;
	filter: grayscale(0%) contrast(20%);
}

/* metro */
.parthners__wrapper:nth-child(3) > img {
	max-width: 216px;
}

/* fozzy */
.parthners__wrapper:nth-child(4) > img {
	max-width: 211px;
}

/* atb */
.parthners__wrapper:nth-child(5) > img {
	max-width: 211px;
}

/* neftek */
.parthners__wrapper:nth-child(6) > img {
	max-width: 207px;
}

/* wog */
.parthners__wrapper:nth-child(7) > img {
	max-width: 168px;
}

/* morepiva */
.parthners__wrapper:nth-child(8) > img {
	max-width: 250px;
}

/* shedro */
.parthners__wrapper:nth-child(9) > img {
	max-width: 211px;
}

/* okko */
.parthners__wrapper:nth-child(10) > img {
	max-width: 147px;
}

/* blackfox */
.parthners__wrapper:nth-child(11) > img {
	max-width: 148px;
	filter: grayscale(0%) contrast(20%);
}

@media screen and (min-width: 768px) {
	.partners__container {
		grid-template-columns: repeat(8, 1fr);
		column-gap: 80px;
		row-gap: 50px;
	}

	.parthners__wrapper:nth-child(9) {
		grid-column: 2 / span 2;
	}

	.parthners__wrapper:nth-child(10) {
		grid-column: 4 / span 2;
	}

	.parthners__wrapper:nth-child(11) {
		grid-column: 6 / span 2;
	}
}

@media screen and (min-width: 1024px) {
	.partners {
		margin-bottom: 133px;
	}

	.partners__title {
		font-size: 48px;
		line-height: 61px;
		margin: 0 0 44px 0;
	}
}
